.cards {
  display: grid;
  grid-gap: 15px;
  @media (max-width: 600px) {
    grid-gap: 10px;
  }

  &__list-view {
    grid-template-columns: repeat(1, 1fr);
  }
  &__card-view {
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 375px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
