.card {
  &__title {
    margin-top: 10px;
  }
  &__release-date {
    display: inline-block;
    margin-top: 10px;
  }

  &__ratings {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__rating {
    margin-left: 5px;
  }
}
