.card {
  display: flex;
  outline: none;
  background-color: none;
  border: none;
  cursor: pointer;
  &-column {
    flex-direction: column;
  }
  &-row {
    flex-direction: row;
  }
  &__title {
    margin-top: 10px;
    @media (max-width: 475px) {
      font-size: 12px;
    }
  }

  &__release-date {
    display: inline-block;
    margin-top: 10px;

    @media (max-width: 425px) {
      margin-top: 5px;
    }
  }

  &__img {
    background-color: gray;
  }

  &__ratings {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 425px) {
      margin-top: 5px;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
  }

  &__rating {
    margin-left: 5px;
  }

  &__vote {
    @media (max-width: 375px) {
      margin-top: 5px;
    }
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.slick-slide.slick-active > div {
  margin-right: 10px;
}
.slick-list {
  margin-right: -10px;
}

.slick-active {
  .card {
    @media (max-width: 786px) {
      font-size: 12px;
    }
  }
}
