.header {
  padding: 10px 0;
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 3;

  &__wrapper {
    display: flex;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 580px) {
      padding: 0 10px;
    }
  }

  &__burger {
    display: none;
    @media (max-width: 580px) {
      display: block;
      position: relative;
      width: 25px;
      height: 20px;
      cursor: pointer;
    }
    & span {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease-in;
    }
    &::before,
    &::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease-in;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &.active::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    &.active span {
      transform: scale(0);
    }
  }
}
