.search {
  display: flex;
  justify-self: flex-end;
  max-width: 300px;
  width: 100%;
  &__input {
    width: 100%;
    padding: 7px 10px;
    border: 0;
    outline: none;
    &::placeholder {
      font-size: 12px;
      color: #000;
    }
  }

  &__button {
    border: 0;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    padding: 5px;
  }
}
